.vs
.vscode
__pycache__
*.diff
*.exp
*.log
*.out
*.so
source/**/.libs
source/**/build
source/**/modules
source/pdo_sqlsrv/shared
source/sqlsrv/shared
source/**/autom4te.cache
source/**/*.dep
source/**/*.la
source/**/*.lo
source/**/config.h*
source/**/config.nice
source/**/config.status
source/**/configure*
source/**/libtool
source/**/Makefile*
source/**/run-tests.php
buildscripts/php*.dll
buildscripts/php*.pdb