sudo: required

os: linux
dist: trusty

services:
  - docker

env:
  global:
  - REPORT_EXIT_STATUS=1
  - ACCEPT_EULA=Y
  - PHPSQLDIR=/REPO/msphpsql-dev
  - TEST_PHP_SQL_SERVER=sql
  - SQLSRV_DBNAME=msphpsql_sqlsrv
  - PDOSQLSRV_DBNAME=msphpsql_pdosqlsrv  

before_install:
  - docker pull microsoft/mssql-server-linux
 
install:
  - docker build --build-arg PHPSQLDIR=$PHPSQLDIR -t msphpsql-dev -f Dockerfile-msphpsql .
  - docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=<YourStrong!Passw0rd>' -p 1433:1433 --name=$TEST_PHP_SQL_SERVER -d microsoft/mssql-server-linux

script: 
  - docker run -e TRAVIS_JOB_ID -t -d -w $PHPSQLDIR --link $TEST_PHP_SQL_SERVER --name=client msphpsql-dev
  - docker ps -a 
  - docker exec client python ./test/setup/setup_dbs.py -dbname $SQLSRV_DBNAME
  - docker exec client python ./test/setup/setup_dbs.py -dbname $PDOSQLSRV_DBNAME
  - docker exec client php ./source/pdo_sqlsrv/run-tests.php ./test/pdo_sqlsrv/*.phpt
  - docker exec client php ./source/sqlsrv/run-tests.php ./test/sqlsrv/*.phpt
  - docker exec client bash -c 'for f in ./test/sqlsrv/*.diff; do ls $f 2>/dev/null; cat $f 2>/dev/null; done || true'
  - docker exec client bash -c 'for f in ./test/sqlsrv/*.out; do ls $f 2>/dev/null; cat $f 2>/dev/null; done || true'
  - docker exec client bash -c 'for f in ./test/pdo_sqlsrv/*.diff; do ls $f 2>/dev/null; cat $f 2>/dev/null; done || true' 
  - docker exec client bash -c 'for f in ./test/pdo_sqlsrv/*.out; do ls $f 2>/dev/null; cat $f 2>/dev/null; done || true' 
  - docker exec client python ./test/setup/cleanup_dbs.py -dbname $SQLSRV_DBNAME
  - docker exec client python ./test/setup/cleanup_dbs.py -dbname $PDOSQLSRV_DBNAME
  - docker exec client coveralls -e ./source/shared/ --gcov-options '\-lp'
  - docker stop client
  - docker ps -a 


notifications:
  email: false
