sudo: required

language: php  
compiler: gcc
os: linux
dist: trusty

php:
  - '7.0'

services:
  - docker

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5

env:
  global:
  - mssql_jdbc_test_connection_properties='jdbc:sqlserver://localhost:1433;databaseName=master;username=sa;password=<YourStrong!Passw0rd>;'
  - COMPILER=g++-5
  - REPORT_EXIT_STATUS=1
  - ACCEPT_EULA=Y

before_install:
  - php --ini
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 60 --slave /usr/bin/g++ g++ /usr/bin/g++-5
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 1
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 1
  - gcc --version
  - g++ --version
  - chmod a+x ./source/packagize.sh
  - chmod a+x ./source/buildtest.sh      
#  - sudo add-apt-repository "deb https://apt-mo.trafficmanager.net/repos/mssql-ubuntu-xenial-release/ xenial main"
#  - sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
#  - sudo apt-get update
#  - sudo apt-get install -y msodbcsql unixodbc-dev-utf16
 
install:
  - ./"ODBC install scripts"/installodbc_ubuntu.sh
  - odbcinst -j
  - odbcinst -q -d -n "ODBC Driver 13 for SQL Server"
  - ldconfig -p | grep odbc
  - sqlcmd -?

before_script:
  - echo "extension = pdo_sqlsrv.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - echo "extension = sqlsrv.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - docker pull microsoft/mssql-server-linux
  - docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=<YourStrong!Passw0rd>' -p 1433:1433 -d microsoft/mssql-server-linux

script: 
  - docker ps -a 
  - ./source/buildtest.sh
  - php -info
  - php ./source/sqlsrv/run-tests.php --show-out -p `which php` ./test/Autonomous/*.phpt

branches:
  only:
  - PHP-7.0-Linux

notifications:
  email: false
